plugins/pdi-pur-plugin/core/wadl2java/wadl-resource/application.wadl/xsd0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="fileVersioningConfiguration" type="fileVersioningConfiguration"/>
 
  <xs:complexType name="fileVersioningConfiguration">
    <xs:sequence>
      <xs:element name="versionCommentEnabled" type="xs:boolean"/>
      <xs:element name="versioningEnabled" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

